@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.error_msg {
  width: fit-content;
  margin: 2rem auto;
  text-align: center;
}

.load_more_button {
  @include reset_button_defaults();

  width: 100%;
  max-width: 10rem;
  margin: 1.5rem auto 0;
  padding: .5rem;
  font-size: .875rem;
  border: 1px solid $black;
}